body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png');
    background-color: #000000;
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .eject-logo {
    width: 80px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  #listaFilmes { 
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
  }
  .form-wrapper-2 input{
    width: 40%;
    padding: 10px 15px;
  }
  .icone-edição{
    position:absolute;
    margin-left: 180px;
    margin-top: 10px;
    color: #fff;
    width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .input-filme{
    height: 20px;
    width: 300px;
  }
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #DA1E26;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    borde-radius: 4px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:.8;
  }
  .filme-imagem{
    width: 220px;
    height: 350px;
  }
  .secao-filme{
    width: 270px
  }
  .filme-titulo{
    color: #fff;
    font-size: 20px;
  }

  .carrossel-categoria{
    display: flex;
    width: 5000%;
  }

  .geral{
    width: 76%;
    overflow-x: hidden;
  }

  .carrossel-field{
    display: flex;
  }

  .btn-esquerda-carrossel{
    z-index: 3;
    transform: translateX(30px);
    height: 20px;
    align-self: center;
  }

  .btn-direita-carrossel{
    z-index: 3;
    transform: translateX(-40px);
    height: 20px;
    align-self: center;
  }

  h3{
    color: #DA1E26;
  }

  .modal-adicionar-filme{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
  }

  .modal-adicionar-filme form{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .modal-container{
    width: 70%;
    height: 60%;
    background-color:#E3C72DCC;
    display: flex;
    flex-direction: column;
  }

  .btn-fechar-modal{
    align-self: flex-end;
    cursor: pointer;
  }

  .adicionar-filme-row{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  .adicionar-filme-item{
    display: flex;
    flex-direction: column;
  }

  .adicionar-filme-item label{
    font-family: Hammersmith One;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.5px;
    text-align: left;
    width: 98px;
    height: 13px;
  }

  .adicionar-filme-item input{
    width: 148px;
    height: 31px;
    border-radius: 3px;
    border: 0.5px solid white;
    background: none;
    outline: none;
  }

  .btn-modal-form{
    width: 148px;
    height: 31px;
    border-radius: 3px;
    border: 0.5px solid white;
    background: none;
    color: white;
    font-family: Hammersmith One;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.5px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
  }

  #excluirBtn{
    border: 0.5px solid #DA1E26;
  }